style.
  input.datagrid-filter {
    background: #FFFFFF;
  }
  
  /* Alternat Column Colors */
  td[field^="BAL_"]:nth-child(even) {
    color: #08C!important
  }

#partbal

script(type="text/javascript"): include js/global_parts.js