.easyui-tabs#lists(data-options="fit:true, tabPosition:'left'" )  

  #sa_nng( title='Next Numbers')
    form.multi(_sqlid='inv^nngall', asdpx='ax')
      +input({name:'ID', value:'INV', type:'hidden'})
      +fitem('Next Number ID',{id:'NNG_TYPE',name:'TYPE', _sqlid:'inv^nng' ,required:true, 'data-options':"validType:'length[1,15]'",class:'easyui-combobox fkey fit' })
      +fitem('Description',{id:'NNG_DESC',name:'DESCRIPTION', 'data-options':"validType:'length[1,255]'",class:'easyui-textbox' })
      +fitem('Prefix',{id:'NNG_PREFIX',name:'PREFIX', 'data-options':"validType:'length[1,8]'",class:'easyui-textbox' })
      +fitem('Next Number',{id:'NNG_NEXT',name:'NEXT_NUMBER', precision:0,min:1,class:'easyui-numberspinner' })
      
      +fitem('Suffix',{name:'SUFFIX', class:'easyui-combobox','data-options':"data:[{text:'None',value:''},{text:'Year 4 Digits',value:'$Y4'},{text:'Year 2 Digits',value:'$Y2'},{text:'Month',value:'$M'},{text:'Month Name',value:'M3'},{text:'-Year 4 Digits',value:'-$Y4'},{text:'-Year 2 Digits',value:'-$Y2'},{text:'-Month',value:'-$M'},{text:'-Month Name',value:'-M3'},{text:'YYMMDD',value:'YYMMDD'},{text:'YYYYMMDD',value:'YYYYMMDD'},{text:'-YYMMDD',value:'-YYMMDD'},{text:'-YYYYMMDD',value:'-YYYYMMDD'}]", default:'$Y4' })
      
      +fitem('Suffix User Defined',{id:'SUFFIX_UDF',name:'SUFFIX_UDF',class:'easyui-textbox' ,'data-options':"validType:'length[1,5]'"})
      +fitem('Decimal Digits',{name:'DECIMAL_PLACES',class:'easyui-numberspinner' ,value:1,min:1,max:10,precision:0})
      +fitem('Table Name',{id:'TABLE_NAME1', name:'TABLE_NAME', required:true, readonly:true, class:'easyui-combobox'})
      +fitem('Column Name',{id:'COLUMN_NAME1',name:'COLUMN_NAME', required:true ,readonly:true, class:'easyui-combobox'})
      script.
        $('#sa_nng form.multi').on('loadDone',function(){ setTimeout(function(){butEn('sx')}); })  

  #sa_unit(title='Units of Measure' iconCls="icon-measure")
    form.multi(_sqlid='inv^unitsall', asdpx='adx')
      +fitem('UOM ID',{name:'ID', _sqlid:'inv^unitsid', class:'easyui-combobox fkey',validType:['length[1,15]']})
      +fitem('Description',{name:'DESCRIPTION', class:'easyui-textbox',validType:['length[1,30]']})
  
  #sa_vendor(title='Vendors' iconCls="icon-vendor")
    form.multi(_sqlid='inv^vendorall', asdpx='adx')
      +fitem('Vendor ID',{name:'ID', _sqlid_:'vendorid', class:'easyui-combobox fkey',validType:['length[1,15]']})
      +fitem('Name',{name:'NAME', class:'easyui-textbox' , validType:['length[1,50]']})
      +fitem('Currency',{name:'CURRENCY_ID', class:'easyui-combobox' , _sqlid:'admin^curr',required:true,'data-options':"editable:false"})
      +fitem('GST Code',{name:'GST_ID', id:'~', class:'easyui-combobox' , _sqlid:'admin^gst',required:true,'data-options':"editable:false"})

      +fieldset('Main',{style:'margin-top:12px;'})
        +fitem('Address 1',{name:'ADDR_1', class:'easyui-textbox' ,validType:['length[1,50]']})
        +fitem('Address 2',{name:'ADDR_2', class:'easyui-textbox' ,validType:['length[1,50]']})
        +fitem('Address 3',{name:'ADDR_3', class:'easyui-textbox' ,validType:['length[1,50]']})
      
      +fieldset('Contact',{style:'margin-top:12px;'})
        +fitem('Person',{name:'CONTACT_PERSON', class:'easyui-textbox' ,validType:['length[1,80]']})
        +fitem('Phone',{name:'CONTACT_PHONE', class:'easyui-textbox' ,validType:['length[1,80]']})
        +fitem('Fax',{name:'CONTACT_FAX', class:'easyui-textbox' ,validType:['length[1,80]']})
        +fitem('Email',{name:'CONTACT_EMAIL', class:'easyui-textbox' ,validType:['email']})
      +fieldset('Bill-To',{style:'margin-top:12px;'})
        +fitem('Person',{name:'BILL_TO_PERSON', class:'easyui-textbox',validType:['length[1,80]']})
        +fitem('Phone',{name:'BILL_TO_PHONE', class:'easyui-textbox',validType:['length[1,80]']})
        +fitem('Fax',{name:'BILL_TO_FAX', class:'easyui-textbox',validType:['length[1,80]']})
        +fitem('Email',{name:'BILL_TO_EMAIL', class:'easyui-textbox',validType:['email']})
  #sa_devn(title='Product Codes')
    form.multi(_sqlid='inv^productcodeall' asdpx='adx')
      +fitem('ID',{name:'ID', _sqlid_:'productcodeid', class:'easyui-combobox fkey',validType:['length[1,15]']})
      +fitem('Description',{name:'DESCRIPTION', class:'easyui-textbox' ,validType:['length[1,80]']})
  if(1==2)
    #sa_poappv(title='PO Approval')
      form.multi(_sqlid='poappvall' asdpx='adx')
        +fitem('ID',{name:'ID', _sqlid_:'poappvid', class:'easyui-combobox fkey',validType:['length[1,15]']})
        +fitem('Description',{name:'DESCRIPTION', class:'easyui-textbox' , validType:['length[1,50]']})
        +fitem('User ID',{id:'~',_sqlid:'admin^usercbo' ,name:'APPV_USER_ID',class:'easyui-combobox',required:true })
        +fitem('Email',{id:'~',name:'APPV_USER_EMAIL', class:'easyui-textbox' ,validType:['email'] ,readonly:true,required:true})
        +fitem('Amount Limit',{name:'AMOUNT_LIMIT', required:true, class:'easyui-numberspinner', min:0, precision:2, value:0})
      
      script.
        $('#APPV_USER_ID').combobox({onSelect:function(rec){$('#APPV_USER_EMAIL').textbox('setValue',rec.email);}})

script(type="text/javascript"): include js/masters.js