+layout({border:false})
  div(data-options="region:'west'" style="width:400px; background:#FAFAFA;" collapsible="false")  
    form#pohead.multi(_sqlid='inv^pohead' asdpx='adx').fit.easyui-form
      +layout({border:false})
        div(data-options="region:'north'" style="height:400px;background:#FAFAFA;").noborder

          +fitem('Order ID',{id:'~', name:'ID', class:'easyui-qbe fkey fit navi autonum', panelWidth:'230px', validType:['length[1,30]']})
          +fitem('Status',{name:'STATUS', id:'~', required:true, class:'easyui-combobox',style:'width:130px;','data-options':"editable:false,panelHeight:'auto'"})
                        
          +fitem('Vendor ID',{name:'VENDOR_ID', id:'~' ,class:'easyui-combobox',required:true})
          +fitem('Name',{id:'~',name:'NAME', class:'easyui-textbox',readonly:true})
          
          +fitem('Order Date',{name:'ORDER_DATE', class:'easyui-datebox today'})
          +fitem('Delivery Date',{name:'DELIVERY_DATE', class:'easyui-datebox today'})

          +fitem('Currency',{name:'CURRENCY_ID', id:'~', class:'easyui-combobox' ,style:'width:110px;',required:true,'data-options':"editable:false,panelHeight:'auto'"})
            +input({name:'CURRENCY_RATE', id:'~', class:'easyui-numberspinner',style:'width:90px;',required:true,precision:4,min:1.0000,value:1.0000})
          +fitem('GST Code / Rate %',{name:'GST_ID', id:'~', class:'easyui-combobox' , style:'width:110px;',required:true,'data-options':"editable:false,panelHeight:'auto'"})
            +input({name:'GST_RATE', id:'~', class:'easyui-numberbox',style:'width:90px;',readonly:true,precision:1})
          +fieldset('Totals')
            +fitem('Pre-Tax',{name:'PRETAX',class:'easyui-numberbox',readonly:true,precision:2})
            +fitem('GST',{name:'GST',class:'easyui-numberbox',readonly:true,precision:2})
            +fitem('Grand',{name:'GRAND',class:'easyui-numberbox',readonly:true,precision:2})
        div(data-options="region:'center'").noborder
          .easyui-tabs(data-options="plain:true,justified:true")
            div(title="Contact")
              +fitem('Name',{id:'~',name:'CONTACT_PERSON', class:'easyui-textbox' ,validType:['length[1,80]']})
              +fitem('Phone',{id:'~',name:'CONTACT_PHONE', class:'easyui-textbox' ,validType:['length[1,80]']})
              +fitem('Fax',{id:'~',name:'CONTACT_FAX', class:'easyui-textbox' ,validType:['length[1,80]']})
              +fitem('Email',{id:'~',name:'CONTACT_EMAIL', class:'easyui-textbox',validType:['email']})

            div(title="Ship To")
              +fitem('Address 1',{name:'SHIPTO_ADDR_1', class:'easyui-textbox',validType:['length[1,50]']})
              +fitem('Address 2',{name:'SHIPTO_ADDR_2', class:'easyui-textbox',validType:['length[1,50]']})
              +fitem('Address 3',{name:'SHIPTO_ADDR_3', class:'easyui-textbox',validType:['length[1,50]']})
            
            div(title="Remit To")  
              +fitem('Address 1',{id:'~',name:'REMIT_ADDR_1', class:'easyui-textbox',validType:['length[1,50]']})
              +fitem('Address 2',{id:'~',name:'REMIT_ADDR_2', class:'easyui-textbox',validType:['length[1,50]']})
              +fitem('Address 3',{id:'~',name:'REMIT_ADDR_3', class:'easyui-textbox',validType:['length[1,50]']})

            div(title="Notes")
              .fitem(style="margin-top:0")
                label(style="margin-bottom:8px;left:-8px;") Order Notes
                +input({eui:'textbox',name:'NOTES','data-options':"multiline:true", style:'height:150px;width:345px'})

            div.files(title='Files' fit="true" _iconCls="icon-pclip" style="padding:4px 0 0 4px")
              div(style="width:380px;")
                #pofiles.easyui-filegrid(data-options="fit:true")
                
  div(data-options="region:'center'")   
    #polines

style.
  div#toolbut {
    position: relative;
    top: -3px;
  }

  td[field=LINE_NO] {
    background: linear-gradient(to bottom,#F9F9F9 0,#efefef 100%);
  } td[field=LINE_NO] > .datagrid-cell {
    color: #000000;
  }
  
  form[class*="grid-"] {
    padding: 20px 22px 10px 0 !important;  
  } 
  
  form[class*="grid-"] .fitem {
    margin-right: 0;
  }

script(type="text/javascript"): include js/purchase_manager.js