+layout({border:false})
  div(data-options="region:'west'" style="width:400px; background:#FAFAFA;" collapsible="false")  
    form#wip_count.multi(_sqlid='inv^wip_count' asdpx='adx').fit.easyui-form
      +layout({border:false})
        div(data-options="region:'north'" style="height:500px;background:#FAFAFA;").noborder
          +fitem('WIP Count ID',{id:'~', name:'WIP_COUNT_ID',class:'easyui-combobox fkey fit navi autonum', _sqlid:'inv^wip_count_ids' , panelWidth:'230px', validType:['length[1,30]'],'data-options':"groupField:'STATUS'"})
          +fitem('Job Class',{id:'~', name:'WO_CLASS', class:'easyui-combobox',_sqlid:'inv^wip_count_jobclassids'})
          +fitem('Start Date',{id:'~',name:'START_DATE', class:'easyui-datebox today'})
          +fieldset('End Count')
            +fitem('Date',{'id':'~',name:'END_DATE', class:'easyui-datebox'})
            +fitem('User',{'id':'~',name:'END_COUNT_USER',class:'easyui-textbox',readonly:true})
          .fbuts.center
            a.easyui-linkbutton#endcount(icon='icon-verified' style="margin-left:10px;margin-top:5px" ) End Count
          +fitem('User Password',{'id':'pwd',class:'easyui-textbox',type:'password'})
          .fitem(style="margin-top:12px")
            label(style="margin-bottom:4px;") Notes
            +input({eui:'textbox',id:'~', name:'NOTES','data-options':"multiline:true", validType:['length[1,255]'], style:'height:150px;width:345px'})           
  div#shipdiv(data-options="region:'center'")  
    #lines
script(type="text/javascript"): include js/wip_count.js