//-console.log('DATA:',bhave,data);
mixin dwap()
  script.rm var ronly = !{!ronly} || false;
  if Object.keys(data).length
    script.rm dwap.pdata  = !{JSON.stringify(data)};
  if Object.keys(bhave).length
    script.rm dwap.bhave  = !{JSON.stringify(bhave)};

mixin mobile()
  if($.mobile)
    -_mix = true
    include ./mixins.m.pug
    block

mixin desktop()
  if(!$.mobile)
    -_mix = true
    include ./mixins.pug
    block

//- RUN   
if(!_mix)
  include ./mixins.pug

+dwap()

//- remove all script.rm tags
script.rm rm();